#Â EDA

In [1]:
import pandas as pd
df=pd.read_json("data/tinyTwitter.json")

In [2]:
df.head()

   offset                                               rows  total_rows
0  805584  {'key': ['r1r01cdn8nb4', 2015, 2, 25], 'doc': ...     3877777
1  805584  {'key': ['r1r01cdn8nb4', 2015, 2, 25], 'doc': ...     3877777
2  805584  {'key': ['r1r01cdn8nb4', 2015, 2, 25], 'doc': ...     3877777
3  805584  {'key': ['r1r01cdn8nb4', 2015, 2, 25], 'doc': ...     3877777
4  805584  {'key': ['r1r01cdn8nb4', 2015, 2, 25], 'doc': ...     3877777